@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/inter/inter-variable.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {

    --white: #ffffff;

    --blue-200: #e5ecff;
    --blue-400: #4785ff;
    --blue-600: #335cff;
    --blue-700: #2a54fe;

    --black: #000000; /*used at 25% opacity for the menu overlay*/

    --font-main: 'Inter', Helvetica, Arial, sans-serif;
    --font-size-l: 1.063rem;
    --font-size-p: 0.875rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100dvh;
    font-family: var(--font-main);
    font-size: var(--font-size-l);
    font-weight: 400;
    color: var(--white);
    background-color: var(--blue-700);
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    border-bottom: 1px solid var(--blue-400);
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo {
    position: relative;
    color: var(--white);
    text-decoration: none;
    padding-left: 1rem;
}

.logo::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-10%, -50%);
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
    background-color: var(--white);
}

.btn-menu {
    background-color: transparent;
    border: none;
    border-radius: 0.35rem;
}